@import 'mixins';
@import 'variables';

.activity_head {
    background-image: url('/public/media/client/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 754px;
    padding-top: 16px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 86px;
        height: 36px;
        left: 0px;
        top: 110px;
        background: $orange;
    }

    &::after {
        content: '';
        position: absolute;
        width: 358px;
        height: 36px;
        right: 0;
        top: 45%;
        background: $orange;
    }
}

.main_descr_activity {
    font-family: "Heading Pro";
    font-weight: bold;
    padding-top: 108px;

    h2 {
        font-family: "Heading Pro Bold";
        font-size: 80px;
        line-height: 100px;
        color: #FFFFFF;
        text-transform: uppercase;

        &::after {
            //position: absolute;
            //content: "";
            //width: 415px;
            //height: 16px;
            //background: #FF6600;
            //top: 48%;
            //left: 28%;
        }
    }

    h3 {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: $orange;
    }

    > p {
        font-family: 'GT Walsheim Pro';
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #6F7486;
    }
}

.activity_team {
    background: #1E212A;
    min-height: 722px;

    h3 {
        font-family: 'Heading Pro';
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: $orange;
    }

    h2 {
        font-family: 'Heading Pro';
        font-weight: 800;
        font-size: 60px;
        line-height: 75px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    > p {
        font-family: 'GT Walsheim Pro';
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #6F7486;
        padding-top: 30px;
    }

    .team_wrap {
        height: 722px;
        display: flex;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background: $orange;
            width: 100px;
            height: 36px;
            bottom: 0;
            right: -4.5%;
            z-index: 100;
        }

        .team_descr {
            width: 622px;
            align-self: center;
            margin: 0 auto;
            padding-left: 30px;
            background-image: none;
        }
    }

    .activity_content_bg {
        background-image: url('/public/media/client/img/activity_bg_content.png');
        background-image: url('/public/media/client/img/activity_bg_content.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.activity_team_2 {
    background: #1E212A;
    min-height: 722px;

    h3 {
        font-family: 'Heading Pro';
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: $orange;
    }

    h2 {
        font-family: 'Heading Pro';
        font-weight: 800;
        font-size: 60px;
        line-height: 75px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    > p {
        font-family: 'GT Walsheim Pro';
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #6F7486;
        padding-top: 30px;
    }

    .team_wrap {
        height: 722px;
        display: flex;
        position: relative;

        .team_descr {
            width: 622px;
            align-self: center;
            margin: 0 auto;
            padding-left: 30px;
            background-image: none;
        }
    }

    .activity_content_bg_2 {
        background-image: url('/public/media/client/img/activity_bg_content.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
