@import 'mixins';
@import 'variables';

.faq_head {
    background-image: url('/public/media/client/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 453px;
    padding-top: 16px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 86px;
        height: 36px;
        left: 0px;
        top: 110px;
        background: $orange;
    }

    &::after {
        content: '';
        position: absolute;
        width: 358px;
        height: 36px;
        right: 0;
        top: 80%;
        background: $orange;
    }
}

.faq_descr_activity {
    font-family: "Heading Pro";
    font-weight: bold;
    padding-top: 108px;

    h2 {
        font-family: "Heading Pro Bold";
        font-size: 80px;
        line-height: 100px;
        color: #FFFFFF;
        text-transform: uppercase;

        &::after {
            //position: absolute;
            //content: "";
            //width: 237px;
            //height: 16px;
            //background: #FF6600;
            //top: 60%;
            //left: 0;
        }
    }

    h3 {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: $orange;
    }

    > p {
        font-family: 'GT Walsheim Pro';
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #6F7486;
        width: 500px;
    }
}

.faq_content {
    background: #1E212A;
    min-height: 634px;
    padding-bottom: 60px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.accordion {
    margin: 24px 0px;
    background: #252833;
    color: $orange;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
    font-family: 'Heading Pro';
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $orange;
}

.active_faq, .accordion:hover {
    background: #252833;
}

.accordion:after {
    content: '\002B';
    color: $orange;
    font-size: 40px;
    float: right;
    margin-left: 5px;
}

.active_faq:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    color: #ffffff;
    background: #252833;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 100%;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16.0045px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: -30px;

    p {
        width: 600px;
        padding-top: 15px;
    }
}
