.btn {
    cursor: pointer;
    outline: 0;
    border: none;
    background: none;

    &-def {
        border-radius: 16px;
        background-color: #c1d6f1;
        padding: 0.2rem 1.8rem;
        @include rem(letter-spacing, -1px);
        font-weight: bold;
        color: #000;
        @include sm-block() {
            padding: 0.5rem 1.8rem;
        }

        &:hover {
        }

        &:active {

        }
    }

}
