$mapSize: (
    main: ((s10: 10, s11: 11, s12: 12, s13: 13, s14: 14, s15: 15, s16: 16, s18: 18, s19: 19, s20: 20, s23: 23, s24: 24, s26: 26, s30: 30, s36: 38, s48: 48, s54: 54, s60: 60, s102: 102, s120: 120), "rem", 18),
    780: ((s16:18, s30:36), "rem", 18),
);
//1400: ((s120: 72, s24: 16, s48:28), "rem", 18),
//780: ((s120: 96, s48: 36), "rem", 16),
$mainSize: 1920;

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px: (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values {
        /* 4 */

        @if $value == 0 or $value == auto {
            /* 5 */
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $unit: unit($value); /* 6 */
            $val: parseInt($value); /* 6 */

            @if $unit == 'px' {
                /* 7 */
                $px: append($px, $value);
                $rem: append($rem, ($val / 18 + rem));
            }

            @if $unit == 'rem' {
                /* 7 */
                $px: append($px, ($val * 18 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        /* 8 */
        #{$property}: $px; /* 9 */
    } @else {
        #{$property}: $px; /* 9 */
        #{$property}: $rem; /* 9 */
    }
}

html {
    font-size: 18px;
    //font-size: 0.928vw;
    @include w1420-block() {
        font-size: 1.208vw;
    }
    @include sm-block() {
        font-size: 2.308vw;
    }

}


h2.text {
    font-weight: bold;
    letter-spacing: 0.9px;
}


.text {

    font-family: Comfortaa;

    &-gray {
        color: #3a4c58;
    }

    &-red {
        color: #d8325e;
    }

    &-elo {
        color: #F7B339;
        text-transform: uppercase;
    }

    &-bly {
        color: #6693ce;
    }

    &-rob {
        font-family: 'Roboto', sans-serif;
    }

    &-bal {
        font-family: 'Baloo Cyrillic';
    }

    &-w100 {
        font-weight: 100;
    }

    @each $key, $sizeStap in $mapSize {
        @if ($key=="main") {
            @each $stapSize, $size in nth($sizeStap, 1) {
                &-#{$stapSize} {
                    @if (nth($sizeStap, 2)=="vw") {
                        font-size: #{$size/($mainSize/100)}vw;
                    } @else {
                        font-size: #{$size/nth($sizeStap, 3)}rem;
                    }
                }
                &-#{$stapSize}vw {
                    font-size: #{$size/($mainSize/100)}vw;
                }

            }
        } @else {
            @media screen and (max-width: #{$key}px) {
                @each $stapSize, $size in nth($sizeStap, 1) {
                    &-#{$stapSize} {
                        @if (nth($sizeStap, 2)=="vw") {
                            font-size: #{$size/($key/100)}vw;
                        } @else {
                            font-size: #{$size/nth($sizeStap, 3)}rem;
                        }
                    }
                    &-#{$stapSize}vw {
                        font-size: #{$size/($key/100)}vw;
                    }
                }
            }
        }
    }
}


@font-face {
    font-family: 'Baloo Cyrillic';
    src: url('/public/media/client/fonts/BalooCyrillic/BalooCyrillic.eot');
    src: local('Baloo Cyrillic'), local('BalooCyrillic'),
    url('/public/media/client/fonts/BalooCyrillic/BalooCyrillic.eot?#iefix') format('embedded-opentype'),
    url('/public/media/client/fonts/BalooCyrillic/BalooCyrillic.woff2') format('woff2'),
    url('/public/media/client/fonts/BalooCyrillic/BalooCyrillic.woff') format('woff'),
    url('/public/media/client/fonts/BalooCyrillic/BalooCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: ftnk;
    src: url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?subset_id=1&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?subset_id=1&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: ftnk;
    src: url(https://use.typekit.net/af/c4c302/000000000000000000012192/27/l?subset_id=1&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/c4c302/000000000000000000012192/27/d?subset_id=1&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/c4c302/000000000000000000012192/27/a?subset_id=1&fvd=n6&v=3) format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: ftnk;
    src: url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?subset_id=1&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?subset_id=1&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?subset_id=1&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: ftnk;
    src: url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?subset_id=1&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?subset_id=1&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?subset_id=1&fvd=n5&v=3) format("opentype");
    font-weight: 500;
    font-style: normal;
}
