@import "../../mics/predpro/smart-grid";
@import "./scss/style";


body{
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

@keyframes background {
    0% {
        background-position: -50vw 0;
    }
    100% {
        background-position: 50vw 0;
    }
}

.lazy, .swiper-lazy-preloader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.08);

    animation: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;

    &:after {
        display: none;
    }


    &:before {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 32px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
    }

    &-none {
        background-color: transparent;

        &:before {
            display: none;

        }
    }

    &-bk {
        &:not(.active) {
            .number_day {
                opacity: 0.5;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.1);
                z-index: 8;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background: linear-gradient(to right,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0) 10%,
                    rgba(0, 0, 0, 0) 20%,
                    rgba(0, 0, 0, 0) 30%,
                    rgba(0, 0, 0, 0) 40%,
                    rgba(0, 0, 0, 0.15) 50%,
                    rgba(0, 0, 0, 0) 60%,
                    rgba(0, 0, 0, 0) 70%,
                    rgba(0, 0, 0, 0) 80%,
                    rgba(0, 0, 0, 0) 90%,
                    rgba(0, 0, 0, 0) 100%
                );
                background-repeat: no-repeat;
                background-position: -50vw 0;
                animation: background 2s infinite linear;
            }
        }
    }
}

.card-body {
    position: relative;
}

.bordsa {
    font-weight: bold;

    a {
        color: #fff !important;
    }
}
