body {
    font-size: .875rem;
}

.feather, .oi:before {
    width: 16px !important;
    height: 16px !important;
    vertical-align: text-bottom;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather, .oi:before {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #fff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    margin-bottom: 0;
}

.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.chbox:checked + .toggle:before {
    background: #947ADA;
}

.chbox:checked + .toggle span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

h1 {
    margin-bottom: 0 !important;
}

.chbox:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

.inputGroup-check {
    padding: 0.75rem 1rem;
}

.inputGroup-check + .inputGroup-check {
    padding: 0.75rem 1rem;
}

.text_box {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-55%);
    padding-left: 0.5rem;
}


.head-sort {
    font-size: 16px;
    font-weight: 500;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cli {
        position: relative;
        top: 0.1rem;


    }
}

body {
    overflow-y: scroll;
}

.check_forms {
    background-color: #fff;
    border: 1px solid transparent;
    //border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    .cli {
        position: relative;
        top: 0.1rem;

        .oi[data-glyph="minus"] {
            display: none;
        }

        .oi[data-glyph="plus"]:before {
            color: #4F2EDC;
        }
    }

    &.active {
        .cli {
            .oi[data-glyph="minus"] {
                display: block;
            }

            .oi[data-glyph="plus"] {
                display: none;
            }
        }
    }

    &_head {

    }

    &_body {
        padding-bottom: 1rem;
        display: none;


    }

    &.active &_body {
        display: block;
    }
}
